In [4]:
a = 15
b = 7
c = 19
if a > b:
    max = a
else:
    max = b
if c > max:
    max = c
print("max value = ", max)

max value =  19

In [6]:
nums = [15, 7, 19]
max = nums[0]
for n in nums:
    if n > max:
        max = n

min = nums[0]
for n in nums:
    if n < min:
        min = n

print("max value = ", max)
print("min value = ", min)

max value =  19
min value =  7

In [7]:
sum = 0
for i in range(1, 11):
    sum = sum + i
    print(i)

print("sum = ", sum)

1
2
3
4
5
6
7
8
9
10
sum =  55

In [10]:
print(3*4)
p= 22/7
print(p)
q = 45
print(q)
m1 = "pikachu"
m2 = 'rhydon'
isAdult = True
print(m1)
print(m1 + " vs " + m2)

12
3.142857142857143
45
pikachu
pikachu vs rhydon

In [18]:
w = input("width = ") 
h = input("height = ")
print("area =", float(w)*float(h))

area = 12.0

In [19]:
def rectangle(w, h):
    area = w * h
    return area

w = int(input("width = "))
h = int(input("height = "))

print(rectangle(w, h))

20

In [21]:
def rectangle(w, h):
    area = w * h
    return area

def triangle(w, h):
    area = w * h / 2
    return area

w = int(input("width = "))
h = int(input("height = "))

print(triangle(w, h))

18.0

In [26]:
x = "Peter Parker"

def fn():
    x = "Spiderman"
    print("inside fn()", x)

def fn2():
    x = "Mr. " + x
    print("inside fn()", x)

def fn3():
    global x
    x = "Mr. " + x
    print("inside fn()", x)
print(x)
fn3()
print(x)

Peter Parker
inside fn() Mr. Peter Parker
Mr. Peter Parker

In [30]:
def leap_year(year):
    if year % 4 == 0:
        return True
    else:
        return False

def leap_year_buddhist(year):
    if year % 4 == 3:
        return True
    else:
        return False

def is_even(n):
    return True if n % 2 == 0 else False
    # if n % 2 == 0:
    #     return True
    # else:
        # return False

def is_odd(n):
    return not(is_even(n))
    # if n % 2 == 0:
    #     return True
    # else:
    #     return False

def promotion(come, pay, per_head, pax):
    # come 4, pay 2
    # come 5, pay = ?
    # per_head = 100
    # 200 + 100
    return (pax // come) * (pay * per_head) + (pax % come) * per_head

# print(leap_year(2015))
# print(leap_year_buddhist(2559))
# print(is_even(5))
# print(is_odd(5))
print(promotion(4, 2, 100, 10))

600

In [33]:
# come 3, pay 2
# come 4, pay 3

come_x = 4
pay_y = 3
per_head = 100
pax = 9

# print((pax // come_x) * (pay_y * per_head))
# print(pax % come_x * per_head)
# total = (pax // come_x) * (pay_y * per_head) + (pax % come_x * per_head)
# print(total)

def come_x_pay_y(pax, per_head, come_x = 4, pay_y = 3):
    total = (pax // come_x) * (pay_y * per_head) + (pax % come_x * per_head)
    return total

print(come_x_pay_y(10, 250, 7, 5))

2000

In [34]:
def rectangle(w, h):
    area = w * h
    return area

def triangle(w, h):
    return .5 * w * h

print("1. rectangle")
print("2. triangle คำนวณพื้นที่สามเหลี่ยม")
n = input("please select option: ")
w = int(input("width = "))
h = int(input("height = "))
if n == "1":
    print("rectangle area")
    print(rectangle(w, h))
else:
    print("triangle area")
    print(triangle(w, h))

1. rectangle
2. triangle คำนวณพื้นที่สามเหลี่ยม
triangle area
36.0

In [41]:
def greeting(lang):
    if lang == "th":
        print("sawadee")
    else:
        print("hello")

def greeting2(lang):
    if lang == "th":
        print("sawadee")
    elif lang == "jp":
        print("konnichiwa")
    elif lang == "fr":
        print("bonjour")
    else:
        print("hello")

def meet_req(eng, interview):
    if eng > 70 and interview > 80:
        return True
    else:
        return False

def meet_req2(eng, interview):
    if eng > 70 and interview > 80 and math > 65:
        return True
    else:
        return False


print(meet_req2(70, 80))
print(greeting2("fr"))

False
bonjour
None

In [48]:
def ticket(age):
    if age <= 5:
        return True
    else:
        return False

def ticket2(age):
    if age <= 5 or age >= 60:
        return 0
    else:
        return 100

def ticket2a(age):
    return 0 if age <= 5 or age >= 60 else 100

def ticket3(age, is_local):
    if (age <= 5 or age >= 60) and is_local:
        return 0
    else:
        return 100

def demo(a):
    if a >= 10 and a <= 20:
        print("ok")
    else:
        print("not ok")

def demo2(a):
    if 10 <= a <= 20:
        print("ok")
    else:
        print("not ok")



demo(18)
print(ticket2(54))
print(ticket3(3, False))

ok
100
100

In [51]:
# ค่าบริการพร้อมเพย์
# ฟรีค่าธรรมเนียม เมื่อทำรายการไม่เกิน 5000 บาท
# ค่าธรรมเนียม 2 บาท เมื่อทำรายการช่วง 5000 - 30000 บาท
# ค่าธรรมเนียม 5 บาท เมื่อทำรายการช่วง 30000 - 100000 บาท
# ค่าธรรมเนียม 10 บาท เมื่อทำรายการช่วง 100000 - วงเงินที่ธนาคารกำหนด

atm = 3000
fee = 0
if atm <= 5000:
    fee = 0
elif 5000 < atm <= 30000:
    fee = 2
elif 30000 < atm <= 100000:
    fee = 5
else:
    fee = 10

print("fee = ", fee)

def basic2():
    atm = 6000
    if atm > 10000:
        fee = 10
    elif atm > 30000:
        fee = 5
    elif atm > 5000:
        fee = 2
    else:
        fee = 0

print("fee = ", fee)

if '_name_' == '_main_':
    basic2()

fee =  0
fee =  0

In [1]:
import random


def play(player):
    # m = ("r", "p", "s")
    d = {"r": "rock", "p": "paper", "s": "scissors"}
    computer = random.choice(list(d.keys()))
    # computer = m[random.randrange(len(m))]
    if player == computer:
        result = "tie"
    elif player == "r" and computer == "s":
        result = "you win"
    elif player == "p" and computer == "r":
        result = "you win"
    elif player == "s" and computer == "p":
        result = "you win"
    else:
        result = "you lose"
    print("you: {} <-> computer: {} -> {}". format(d[player], d[computer], result))


while True:
    player = input("[r]ock, [p]aper, [s]cissors, e[x]it ->")
    if player == "x":
        break
    else:
        play(player)

you: scissors <-> computer: paper -> you win

In [10]:
# tuple

# point = 1, 7
# print(point[0])
# print(point[1])

# pointB = (1, 7)
# print(pointB[1])

# th = "Thailand", 5, 10, 15
# print(th[1] + th[2] + th[3])

# monsters = ("pikachu", "bulbasaur", "eevee")

def distance(pointA, pointB):
    return ((pointA[0] - pointB[0]) ** 2 + (pointA[1] - pointB[1]) ** 2) ** 0.5

pointA = (1, 7)
pointB = 5, 10
d = distance(pointA, pointB)
print(d)

d2 = distance2(1, 7, 1, 10)
print(d2)

# immutable

5.0
3.0

In [15]:
# flowers = "lily", "rose", "daisy", "tulip"
# if "callas" in flowers:
#     print("available")
# else:
#     print("not available")

sentence = "To the moon and back"
a = str(input("word ="))
if a in sentence:
    print(a + " is in the sentence")
else:
    print(a + " is not in the sentence")

loop is not in the sentence

In [63]:
"""
    # เลขผลรวมดีมาก ได้แก่ 9, 14, 15, 19, 23, 24, 32, 36, 40, 41, 42, 44, 45, 46, 50, 51, 54, 55, 56, 59, 63, 64, 65  ให้คุณระดับดีมาก
                                           69, 79 โอกาสประสบผลสำเร็จสูง อุปสรรคน้อย เจริญรุ่งเรือง ร่ำรวย รวดเร็ว และมีความสุข
    # เลขผลรวมดีปานกลาง ได้แก่ 10, 13, 16, 18, 20, 22, 25, 26, 28, 31, 35, 38, 39, 47, 49, 52, 53, 57, 58, 60, 61  ให้คุณระดับดีปานกลาง
                                           62, 66, 68, 74, 75 เหนื่อย มีอุปสรรค แต่ยังมีโอกาสประสบผลสำเร็จ หากมีความพยายาม
    # เลขผลรวมไม่ดี ได้แก่ 11, 12, 17, 21, 27, 29, 30, 33, 34, 37, 43, 48, 67, 70, 71, 72, 73, 76, 77, 78, 80 (ให้โทษ ใครได้ผลรวมเหล่านี้ควรเปลี่ยน)
                                           เหนื่อยมาก อุปสรรคมาก เจอปัญหารุมเร้า การงาน การเงิน ความรัก เกิดอุบัติเหตุชีวิตไม่จบไม่สิ้น
"""

def sum_phone_digit(phone_number):
    total = 0
    for c in phone_number:
        total += int(c)
    return total

def interpret(number):
    meaning = ""
    if number in (9, 14, 15, 19, 23, 24, 32, 36, 40, 41, 42, 44, 45, 46, 50, 51, 54, 55, 56, 59, 63, 64, 65):
        meaning = "ดีมาก"
    elif number in (69, 79):
        meaning = "โอกาสประสบผลสำเร็จสูง อุปสรรคน้อย เจริญรุ่งเรือง ร่ำรวย รวดเร็ว และมีความสุข"
    elif number in (10, 13, 16, 18, 20, 22, 25, 26, 28, 31, 35, 38, 39, 47, 49, 52, 53, 57, 58, 60, 61):
        meaning = "ดีปานกลาง"
    elif number in (62, 66, 68, 74, 75):
        meaning = "เหนื่อย มีอุปสรรค แต่ยังมีโอกาสประสบความสำเร็จ หากพยายาม"
    elif number in (11, 12, 17, 21, 27, 29, 30, 33, 34, 37, 43, 48, 67, 70, 71, 72, 73, 76, 77, 78, 80):
        meaning = "ไม่ดี เหนื่อยมาก อุปสรรคมาก เจอปัญหารุมเร้า การงาน การเงิน ความรัก เกิดอุบัติเหตุชีวิตไม่จบไม่สิ้น"
    return meaning



phone = input("Enter phone number: ")
print(interpret(sum_phone_digit(phone)))

ดีปานกลาง

In [37]:
def celsius_to_fah(celsius):
    return (celsius * 9 / 5) + 32

def temperature_table():  # void function in C, Java
    for c in range(0, 101, 5):
        f = celsius_to_fah(c)
        print("{}C = {}F".format(c, f))
    # return None

def menu(): # void (return None)
    print("1. convert Celsius to Fahrenheit")
    print("2. display temperature table")
    n = input("enter choice: ")
    if n == "1":
        celsius = float(input("enter degree in Celsius: "))
        print("{}C = {}F".format(celsius, celsius_to_fah(celsius)))
    elif n == "2":
        temperature_table()

# f = celsius_to_fah(100)
# print(f)
# a = temperature_table()
# print(a)
menu()

1. convert Celsius to Fahrenheit
2. display temperature table
0C = 32.0F
5C = 41.0F
10C = 50.0F
15C = 59.0F
20C = 68.0F
25C = 77.0F
30C = 86.0F
35C = 95.0F
40C = 104.0F
45C = 113.0F
50C = 122.0F
55C = 131.0F
60C = 140.0F
65C = 149.0F
70C = 158.0F
75C = 167.0F
80C = 176.0F
85C = 185.0F
90C = 194.0F
95C = 203.0F
100C = 212.0F

In [40]:
def price_with_vat(amount):
    vat = amount * 7 / 107
    price = amount - vat
    # t = price, vat
    # return t
    return price, vat

print(price_with_vat(107))
a = price_with_vat(200)
print(type(a))
print(a)
print("price = ", a[0])
print("vat = ", a[1])
p, v = price_with_vat(200)
print("p = ", p)
print("v = ", v) 

def thai_area(sqwa):
    rai = sqwa // 400
    ngan = (sqwa - (rai * 400)) // 100
    wa = sqwa % 100
    return rai, ngan, wa

a = 956
print(thai_area(a))
r, n, w = thai_area(a)
print(r, n, w, sep = "-")

(100.0, 7.0)
<class 'tuple'>
(186.9158878504673, 13.08411214953271)
price =  186.9158878504673
vat =  13.08411214953271
p =  186.9158878504673
v =  13.08411214953271
(2, 1, 56)
2-1-56

In [50]:
from datetime import date

def alpha(a, b):
    c = a + b
    print(c)

def beta(a: str, b: int, c):
    # print(a.upper())
    print(a, b, c)

def gamma(a: date, b):
    print(a.year)
    print(b.year)

def bar(a, b) -> str:
    return a + b

class Person:
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.lname = lname
        self.age = age

    def foo(self):
        print("hello")

def epsilon(a: Person, b):
    a.foo()

if __name__ == '__main__':
    # alpha(5, 3)
    # alpha("rain", "bow")
    # beta(3, "bow", 77)
    # t1 = date(2016, 7, 20)
    # t2 = date(2017, 1, 9)
    # gamma(t1, t2)
    p = Person("Peter", "Parker", 26)

In [62]:
def loop1():
    for i in range(1): #for(i = 0; i<11;i++)
        print(i)

def loop2():
    for i in range(1,11): #for(i = 0; i<11;i++)
        print(i)

def loop3():
    for i in range(1,11,2): #for(i = 0; i)
        print(i)
        print("-------------------")
    print("bye")

def loop_string():
    s = "over the rainbow"
    for c in s:
        print(c.upper())

def loop_tuple():
    flowers = "lily", "jasmine", "rose", "ivy"
    for f in (flowers):
        print(f.capitalize())

def loop_tuple2():
    flowers = "lily", "jasmine", "rose", "ivy"
    for i in range(len(flowers)):
        print(i+1, flowers[i].capitalize(), sep=". ")

# loop3()
# loop_string()
# loop_tuple()
loop_tuple2()

1. Lily
2. Jasmine
3. Rose
4. Ivy

In [73]:
# # Google (googol) = 1e100 = 1 * (10 ** 100)
# print("1" + ("0" * 100))

# # string.format
# print("1{0}".format("0" * 100))

# # f-string
# print(f"1{'0' * 100}")

def demo2():
    print("1", end='')
    for i in range(100):
        print("0", end='')

def repeat(ch, times):
    for i in range(times):
        print(ch, end='')

def repeat2(ch, times):
    s = ""
    for i in range(times):
        s += ch
    return s

# demo2()
# print("1", end='')
print(repeat2("0", 5))
print('1' + repeat2("0", 100))

00000
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [10]:
# 5! = 1 x 2 x 3 x 4 x 5
# 0! = 1
import math


def fact(n):
    if n >= 0:
        if n == 0 or n == 1:
            return 1
        else:
            f = 1
            for i in range(2, n + 1):
                f = f * i
            return f
    else:
        return math.nan  # not a number


def permut(n, k):
    # n = 10 (0-9)
    # k =  3
    return fact(n) // fact(n - k)


def combin(n, k):
    # return fact(n) / (fact(k)*fact(n-k))
    return permut(n, k) // fact(k)


if __name__ == '__main__':
    # print(fact(5))
    # print(fact(1))
    # print(fact(0))
    # print(fact(-7))                                                                                            
    print(permut(5, 3))
    print(combin(5, 3))

60
10

:

In [3]:
def temperature_table():
    for celsius in range(101):
        f = (celsius * 9 / 5) + 32
        # print(celsius, "-", f)
        print("{}C = {:.2}F".format(celcius, f))

# temperature_table()

def mult_table(from_n, to_n):
    for i in range(from_n, to_n + 1):
        for j in range(1, 13):
            print("{} * {} = {}".format(i, j, i * j))

    print("-" * 40)

mult_table(2, 3)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
----------------------------------------

In [9]:
import random

def playing_card():
    suit = ("\u2660", "\u2665", "\u2666", "\u2663")
    # print(suit)
    # rank = '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'
    rank = list("A23456789") + ["10"] + list("JQK")
    # print(rank)
    deck = []
    for s in suit:
        for r in rank:
            deck.append(r + s)
    return(deck)

d = playing_card()
print(d)
random.shuffle(d)
print(d)
p = random.sample(d, 9)
print(p)

['A♠', '2♠', '3♠', '4♠', '5♠', '6♠', '7♠', '8♠', '9♠', '10♠', 'J♠', 'Q♠', 'K♠', 'A♥', '2♥', '3♥', '4♥', '5♥', '6♥', '7♥', '8♥', '9♥', '10♥', 'J♥', 'Q♥', 'K♥', 'A♦', '2♦', '3♦', '4♦', '5♦', '6♦', '7♦', '8♦', '9♦', '10♦', 'J♦', 'Q♦', 'K♦', 'A♣', '2♣', '3♣', '4♣', '5♣', '6♣', '7♣', '8♣', '9♣', '10♣', 'J♣', 'Q♣', 'K♣']
['Q♦', '8♦', 'J♠', 'J♣', 'K♣', 'J♦', '10♥', 'K♦', 'Q♠', '3♦', '9♣', '4♥', '6♥', '6♦', '2♦', 'A♠', '9♦', '9♠', 'A♣', '4♣', '5♦', '4♠', '10♠', '3♣', '6♠', '5♠', '8♣', 'J♥', 'A♦', '4♦', 'K♠', '8♥', '8♠', '2♠', '5♣', '7♣', '3♠', '7♠', '10♣', '2♥', '9♥', 'Q♣', 'Q♥', '6♣', '7♥', 'K♥', '5♥', '7♦', 'A♥', '10♦', '2♣', '3♥']
['7♥', 'K♦', '2♦', '7♠', 'A♠', '8♠', 'K♠', '8♥', '6♣']

In [14]:
def demo1():
    i = 1
    while i <= 10:
        print(i)
        i += 1 # i = i + 1
    print("over")

def demo_for():
    for i in range(1, 11):
        print(i)
    print("over")

def sum_input():
    n = int(input("enter num: "))
    total = 0
    while n != 0:
        total += n
        n = int(input("enter num: "))
    print("total = ", total)

def sum_input_repeat_until():
    total = 0
    while True:
        n = int(input("enter num: "))
        if n != 0:
            total += n
        else:
            break
        print("total = ", total)

sum_input()

total =  10

In [24]:
# s = "rain"
# t = 'bow'
# print(s)
# print(t)
# print(s + t)
# print("-" * 20)
# line = "<>" * 10
# print(line)
# a = s + t
# print(a)
# print("Bow" in a)

def slice():
    r = "0123456"
    s = "rainbow"
    # print(s[0])
    # print(s[0:4])
    # print(s[0:4:2])
    # print(s[0::2])
    # print(s[6])
    # print(s[-1])
    print(s[-3:])
    print(s[-7:-3])
    print(s[::-1])

def print_string(s):
    for i in range(len(s)):
        print("{:>3} ".format(i), end="")
    print()
    for i in range(-len(s), 0, 1):
        print("{:>3} ".format(i), end="")
    print()
    for c in s:
        print("{:>3} ".format(c), end="")
    print()

# slice()
print_string("rainbow")

  0   1   2   3   4   5   6
 -7  -6  -5  -4  -3  -2  -1
  r   a   i   n   b   o   w

In [31]:
def demo():    
    first_name = "peter"
    last_name = "parker"
    age = 21

    print(first_name, last_name, age)
    print("{} {} {}".format(first_name, last_name, age))
    print("{0} {1} age: {2}".format(first_name, last_name, age))
    print("{1} {0} age: {2}".format(first_name, last_name, age))

def demo_number():
    # n = 1218123000
    # print("{}".format(n))
    # print("{:,}".format(n))

    d = 234322.756321
    a = 1234.50
    b = 343.25
    # print("{}".format(d))
    # print("{:.2f}".format(d))
    print("{:,.2f}".format(d))
    print("{:,.2f}".format(a))
    print("{:,.2f}".format(b))

    print("-" * 50)
    print("{:15,.2f}".format(d)) #:20 คือ กำหนดความกว้างของข้อความและ .2f คือ กำหนดจำนวนจุดทศนิยม 2 ตำแหน่ง เช่น 0.00
    print("{:=15,.2f}".format(a))
    print("{:15,.2f}".format(b))

demo_number()

234,322.76
1,234.50
343.25
--------------------------------------------------
     234,322.76
       1,234.50
         343.25

In [35]:
def demo():
    print("{}{}".format("th", "Thailand"))
    print("{:5}|{:15}|".format("th", "Thailand"))
    print("{:<5}|{:<15}|".format("th", "Thailand"))
    print("{:>5}|{:>15}|".format("th", "Thailand"))
    print("{:*>5}|{:->15}|".format("th", "Thailand"))
    print("{:^5}|{:^15}|".format("th", "Thailand"))

def mult_table(n):
    for i in range(1, 13):
        print("{} x {:3} = {:3}".format(n, i, n*i))

def ascii_table():
    for i in range(65, 128):
        print("{0:3} {0:#08b} {0:04o} {0:#x} {0:x} {0:c}".format(i))
   
def demo_dict():
    menu = {"name": "mocha", "price": 40, "size": "large"}
    print(menu["name"])
    print("menu name = {} price = {}".format(menu["name"], menu["price"]))
    print("menu name = {name}({size}) price = {price}".format(**menu))

# demo()
# mult_table(12)
ascii_table()

 65 0b1000001 0101 0x41 41 A
 66 0b1000010 0102 0x42 42 B
 67 0b1000011 0103 0x43 43 C
 68 0b1000100 0104 0x44 44 D
 69 0b1000101 0105 0x45 45 E
 70 0b1000110 0106 0x46 46 F
 71 0b1000111 0107 0x47 47 G
 72 0b1001000 0110 0x48 48 H
 73 0b1001001 0111 0x49 49 I
 74 0b1001010 0112 0x4a 4a J
 75 0b1001011 0113 0x4b 4b K
 76 0b1001100 0114 0x4c 4c L
 77 0b1001101 0115 0x4d 4d M
 78 0b1001110 0116 0x4e 4e N
 79 0b1001111 0117 0x4f 4f O
 80 0b1010000 0120 0x50 50 P
 81 0b1010001 0121 0x51 51 Q
 82 0b1010010 0122 0x52 52 R
 83 0b1010011 0123 0x53 53 S
 84 0b1010100 0124 0x54 54 T
 85 0b1010101 0125 0x55 55 U
 86 0b1010110 0126 0x56 56 V
 87 0b1010111 0127 0x57 57 W
 88 0b1011000 0130 0x58 58 X
 89 0b1011001 0131 0x59 59 Y
 90 0b1011010 0132 0x5a 5a Z
 91 0b1011011 0133 0x5b 5b [
 92 0b1011100 0134 0x5c 5c \
 93 0b1011101 0135 0x5d 5d ]
 94 0b1011110 0136 0x5e 5e ^
 95 0b1011111 0137 0x5f 5f _
 96 0b1100000 0140 0x60 60 `
 97 0b1100001 0141 0x61 61 a
 98 0b1100010 0142 0x62 62 b
 99 0b1100011 0143 0x63 63 c
100 0b1100100 0144 0x64 64 d
101 0b1100101 0145 0x65 65 e
102 0b1100110 0146 0x66 66 f
103 0b1100111 0147 0x67 67 g
104 0b1101000 0150 0x68 68 h
105 0b1101001 0151 0x69 69 i
106 0b1101010 0152 0x6a 6a j
107 0b1101011 0153 0x6b 6b k
108 0b1101100 0154 0x6c 6c l
109 0b1101101 0155 0x6d 6d m
110 0b1101110 0156 0x6e 6e n
111 0b1101111 0157 0x6f 6f o
112 0b1110000 0160 0x70 70 p
113 0b1110001 0161 0x71 71 q
114 0b1110010 0162 0x72 72 r
115 0b1110011 0163 0x73 73 s
116 0b1110100 0164 0x74 74 t
117 0b1110101 0165 0x75 75 u
118 0b1110110 0166 0x76 76 v
119 0b1110111 0167 0x77 77 w
120 0b1111000 0170 0x78 78 x
121 0b1111001 0171 0x79 79 y
122 0b1111010 0172 0x7a 7a z
123 0b1111011 0173 0x7b 7b {
124 0b1111100 0174 0x7c 7c |
125 0b1111101 0175 0x7d 7d }
126 0b1111110 0176 0x7e 7e ~
127 0b1111111 0177 0x7f 7f 

In [1]:
x = input("abckddiafdfd")
print(x)

adb

In [61]:
print(type("e[x]it"))

<class 'str'>

In [ ]:
turn on laptop computer ของแม่ให้หน่อย
เปิดแล้ว